<!DOCTYPE html>

Top main

<!-- BEGIN name=tbl -->
<table>
  <caption>List of $category </caption>
  <!-- BEGIN name=row -->
    <tr><td>Name: $name</td><td>Color: $color</td></tr>
    <!-- END name=row -->
</table>
<!-- END name=tbl -->

<!-- BEGIN name=tbl_complex -->
<table>
  <caption>Battery Voltages</caption>
  <!-- BEGIN name=row_complex -->
    <tr>
    <!-- BEGIN name=cell_complex --><td>$cell_id:$cell_volt</td><!-- END name=cell_complex -->
    </tr>
    <!-- END name=row_complex -->
</table>
<!-- END name=tbl_complex -->


<!-- BEGIN name=admin -->
Admin
<!-- END name=admin -->

<!-- BEGIN name=ftr -->
Ftr
<!-- END name=ftr -->
Bottom main
